.heading {
    font-size: 48px;
    line-height: 58px;
    color: #315AF2;
    padding: 20px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 8px;
}

.image img {
    border: 2px solid #dedede;
}